/* PUBLIC SANS (300–800) */
@font-face {
  font-family: "Public Sans";
  src: url("./assets/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

/* NEWSREADER (NORMAL) */
@font-face {
  font-family: "Newsreader";
  src: url("./assets/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

/* NEWSREADER (ITALIC) */
@font-face {
  font-family: "Newsreader";
  src: url("./assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}