@import "tailwindcss";

@theme {
  /* COLORS */
  --color-primary-dim: #325385;
  --color-primary: #3f5f92;
  --color-surface-container-low: #f2f4f3;
  --color-surface-tint: #3f5f92;
  --color-on-secondary: #f8f8ff;
  --color-on-primary: #f7f7ff;
  --color-on-error-container: #752121;
  --color-secondary: #5d5f65;
  --color-on-secondary-container: #505257;
  --color-surface-container-lowest: #ffffff;
  --color-error-container: #fe8983;
  --color-on-tertiary-fixed-variant: #54536f;
  --color-on-surface: #2d3433;
  --color-on-secondary-fixed-variant: #5a5b61;
  --color-tertiary-fixed: #d9d7f8;
  --color-background: #f9f9f8;
  --color-on-error: #fff7f6;
  --color-surface: #f9f9f8;
  --color-on-primary-fixed-variant: #3c5c8f;
  --color-on-tertiary: #fbf7ff;
  --color-on-primary-fixed: #1c3f70;
  --color-error-dim: #4e0309;
  --color-surface-container-high: #e4e9e8;
  --color-on-primary-container: #315284;
  --color-surface-variant: #dde4e3;
  --color-tertiary-container: #d9d7f8;
  --color-on-secondary-fixed: #3d3f45;
  --color-secondary-container: #e2e2e9;
  --color-on-tertiary-fixed: #383751;
  --color-on-background: #2d3433;
  --color-surface-container: #ebeeed;
  --color-inverse-primary: #9abaf3;
  --color-on-tertiary-container: #4b4a65;
  --color-primary-fixed-dim: #c0d5ff;
  --color-primary-fixed: #d6e3ff;
  --color-primary-container: #d6e3ff;
  --color-surface-container-highest: #dde4e3;
  --color-error: #9f403d;
  --color-outline-variant: #adb3b2;
  --color-surface-dim: #d4dcda;
  --color-tertiary-dim: #51506c;
  --color-tertiary: #5d5c78;
  --color-surface-bright: #f9f9f8;
  --color-secondary-fixed: #e2e2e9;
  --color-inverse-surface: #0c0f0e;
  --color-tertiary-fixed-dim: #cbc9e9;
  --color-outline: #757c7b;
  --color-inverse-on-surface: #9c9d9c;
  --color-secondary-dim: #515359;
  --color-secondary-fixed-dim: #d3d4db;
  --color-on-surface-variant: #5a6060;

  /* RADIUS */
  --radius: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-full: 9999px;

  /* FONTS */
  --font-headline: "Public Sans", sans-serif;
  --font-body: "Newsreader", serif;
  --font-label: "Public Sans", sans-serif;
}